@model API.Areas.Admin.Models.Videos.VideosModel
@{
    ViewData["Title"] = "Thư viện Video";
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}
<link rel="stylesheet" href="~/css/prettyPhoto.css">
<div class="PageDetail">
    <ul class="list-inline navigation nlist">
        <li>
            <a href="/">Trang chủ</a> <i class="fa fa-angle-right"></i>
            <a href="#">@ViewData["Title"]</a>
        </li>
    </ul>
    <h1 class="title">@ViewData["Title"]</h1>
    @if (Model.ListItems == null || Model.ListItems.Count() == 0)
    {
        <tr>
            <td colspan="5" class="text-center">
                <div *ngIf="flagListitems==1" class="lds-dual-ring"></div>
                <label *ngIf="flagListitems==2">Không có dữ liệu!</label>
            </td>
        </tr>
    }
    else
    {
        <div class="row">

            @for (int i = 0; i < Model.ListItems.Count(); i++)
            {
                <div class="gallery col-lg-3">
                    <div class="card rounded-0 border-0">
                        <a href="@Model.ListItems[i].Link?rel=0" rel="prettyPhoto">
                            <img width="255px" height="160px" src="@Model.ListItems[i].Image" class="card-img-top" alt="@Model.ListItems[i].Title" />
                        </a>

                        <div class="card-body">
                            <a href="@Model.ListItems[i].Link?rel=0" rel="prettyPhoto" class="card-title text-justify">@Model.ListItems[i].Title</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>



@section Scripts{
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $("area[rel^='prettyPhoto']").prettyPhoto();

            $(".gallery:first a[rel^='prettyPhoto']").prettyPhoto({ animation_speed: 'normal', theme: 'light_square', slideshow: 3000, autoplay_slideshow: true });
            $(".gallery:gt(0) a[rel^='prettyPhoto']").prettyPhoto({ animation_speed: 'fast', slideshow: 10000, hideflash: true });

            $("#custom_content a[rel^='prettyPhoto']:first").prettyPhoto({
                custom_markup: '<div id="map_canvas" style="width:260px; height:265px"></div>',
                changepicturecallback: function () { initialize(); }
            });

            $("#custom_content a[rel^='prettyPhoto']:last").prettyPhoto({
                custom_markup: '<div id="bsap_1259344" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div><div id="bsap_1237859" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6" style="height:260px"></div><div id="bsap_1251710" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div>',
                changepicturecallback: function () { _bsap.exec(); }
            });
        });
    </script>
}